.hiddenBar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.hiddenBar {
  overflow-x: scroll;
}

.imgHover:hover {
  transition-duration: 0.4s;
  z-index: 99;
  cursor: pointer !important;
  transform: scale(1.5) !important;
}
