body {
  background-color: #141414;
}

.font-link {
  font-family: "Lato", sans-serif;
}

.rows-content {
  padding: 2rem;
}

::-webkit-scrollbar {
  display: none;
}

.hiddenBar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.hiddenBar {
  overflow-x: scroll;
  max-width: 100%;
}

.imgHover:hover {
  transition-duration: 0.4s;
  z-index: 99;
  cursor: pointer !important;
  transform: scale(1.1) !important;
}

.cardMove {
  width: 10rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
  margin-left: 1.5rem;
}

.banner {
  color: white;
  object-fit: contain;
  height: 800px;
}

.bannerContent {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.bannerTitle {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.bannerDescription {
  line-height: 1.3;
  font-size: 1.1rem;
  max-width: 345px;
  height: 80px;
}

.buttons {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.playHover:hover {
  background-color: #bfbfbf;
}

#responsive-navbar-nav {
  margin-left: 5rem;
}

.liks-nav:hover {
  color: red;
}
